@{
    Layout = "_Layout";
}
<div class="row">
    <div class="col-3">
        @RenderSection("Sidebar", false)
    </div>
    <main role="main" class="col-9 pb-3">
        @RenderBody()
    </main>

</div>
