@{
    ViewData["Title"] = "Home Page";
}

<partial name="_StatusMessage" />
<div class="text-center">
    <h1 class="display-4">Welcome To MyBLog</h1>
    <hr />
    <p>MyBlog is a personal project. This project was build by <a asp-action="MyInfo">Cao Hoang Dieu</a>.</p>
</div>

